body {
  margin: 0;
}

h1, h2, p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

header, section {
  padding: 50px;
}

header {
  background: yellow;
  color: black;
}

.section-one {
  background: black;
  color: whitesmoke;
}

.text-accent {
  color: fuchsia;
}

.btn-yellow {
  background: yellow;
  color: black;
  padding: 15px 30px;
  display: inline-block;
  margin-right: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.btn-yellow:hover {
  background: whitesmoke;
  color: black
}

.section-two .btn-yellow:hover {
  background: black;
  color: whitesmoke;
}

.section-two-link {
  color: black;
}

a:hover, a:focus {
  color: darkgreen;
}